{% extends "layout.html" %}

{% block title %}Utility Knife - {{ username }}'s Dropbox{% endblock %}

{% block content %}

<div align="center">
  <p><b>{{ username }}'s Dropbox:</b> {{ used }} / {{ quota }}</p>
  <div id="chart"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/d3.min.js"></script>
<script>
var margin = {top: 30, right: 0, bottom: 0, left: 0},
    width = $("#chart").width(),
    height = $("#chart").height() - margin.top - margin.bottom,
    transitioning;

var color = d3.scale.category20();

var x = d3.scale.linear()
    .domain([0, width])
    .range([0, width]);

var y = d3.scale.linear()
    .domain([0, height])
    .range([0, height]);

var treemap = d3.layout.treemap()
    .children(function(d, depth) { return depth ? null : d.children; })
    .sort(function(a, b) { return a.value - b.value; })
    .ratio(height / width * 0.5 * (1 + Math.sqrt(5)))
    .round(false);

var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.bottom + margin.top)
    .style("margin-left", - margin.left + "px")
    .style("margin.right", - margin.right + "px")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .style("shape-rendering", "crispEdges");

var grandparent = svg.append("g")
    .attr("class", "grandparent");

grandparent.append("rect")
    .attr("y", -margin.top)
    .attr("width", width)
    .attr("height", margin.top);
grandparent.append("text")
    .attr("fill", "#777")
    .style("letter-spacing", "+0.05em")
    .attr("x", 6)
    .attr("y",  margin.top - 60)
    .attr("dy", "0.5em");

// Initialize tooltips
$(document).ready(function () {
  $("[rel=tooltip]").tooltip();
});

var root = {{ json_data|tojson|safe }};

initialize(root);
accumulate(root);
layout(root);
display(root);

function initialize(root) {
  root.x = root.y = 0;
  root.dx = width;
  root.dy = height;
  root.depth = 0;
}

// Aggregate the values for internal nodes. This is normally done by the
// treemap layout, but not here because of our custom implementation.
function accumulate(d) {
  return d.children
      ? d.value = d.children.reduce(function(p, v) { return p + accumulate(v); }, 0)
      : d.value;
}

// Compute the treemap layout recursively such that each group of siblings
// uses the same size (1x1) rather than the dimensions of the parent cell.
// This optimizes the layout for the current zoom state. Note that a wrapper
// object is created for the parent node for each group of siblings so that
// the parent's dimensions are not discarded as we recurse. Since each group
// of sibling was laid out in 1x1, we must rescale to fit using absolute
// coordinates. This lets us use a viewport to zoom.
function layout(d) {
  if (d.children) {
    treemap.nodes({children: d.children});
    d.children.forEach(function(c) {
      c.x = d.x + c.x * d.dx;
      c.y = d.y + c.y * d.dy;
      c.dx *= d.dx;
      c.dy *= d.dy;
      c.parent = d;
      layout(c);
    });
  }
}

function humanReadable(bytes) {
  if (bytes < 1024) { // < 1 KB
    return bytes;
  } else if (bytes < 1048576) { // < 1 MB
    return (bytes / 1024).toFixed(2) + " KB";
  } else if (bytes < 1073741824) { // < 1 GB
    return (bytes / 1048576).toFixed(2) + " MB";
  } else { // > 1 GB
    return (bytes / 1073741824).toFixed(2) + " GB";
  }
}

function display(d) {
  grandparent
      .datum(d.parent)
      .on("click", transition)
    .select("text")
      .attr("dy", "1.5em")
      .text(name(d) + " : " + humanReadable(d.value) + "     (click here to go back a level)");

  var g1 = svg.insert("g", ".grandparent")
      .datum(d)
      .attr("class", "depth");

  var g = g1.selectAll("g")
      .data(d.children)
      .enter().append("g");

  g.filter(function(d) { return d.children; })
      .classed("children", true)
      .on("click", transition);

  g.filter(function(d) { return !d.children; })
      .on("click", goto_dropbox);

  g.append("rect")
      .attr("class", "parent")
      .attr("data-placement", "top")
      .attr("title", "Tooltip test")
      .attr("rel", "tooltip")
      .call(rect);

  g.append("text")
      .attr("dy", ".75em")
      .attr("fill", "#333")
      .text(function(d) {
              if (d.children) {
                var w = (d.dx  / d.parent.dx) * width;
                if (d.name.length*6.5 < ((d.dx / d.parent.dx) * width) && ((d.dy / d.parent.dy) * height) > 18 && (w > 100)) {
                  d.hiddendata = false;
                  return d.name;
                }
                else {
                  d.hiddendata = true;
                  return "";
                }
              } else {
                d.hiddendata = true;
                return "";
              }
            })
      .call(text);
  g.append("text")
      .attr("dy", "1.75em")
      .attr("fill", "#333")
      .text( function(d) {
              if (d.hiddendata) {
                return "";
              } else {
                return humanReadable(d.value);
              }
           })
      .call(text);

  function goto_dropbox(d) {
    if (transitioning || !d) return;
    document.location.href = "https://www.dropbox.com/home" + name(d.parent);
  }

  function transition(d) {
    if (transitioning || !d) return;
    transitioning = true;

    var g2 = display(d),
        t1 = g1.transition().duration(750),
        t2 = g2.transition().duration(750);

    // Update the domain only after entering new elements.
    x.domain([d.x, d.x + d.dx]);
    y.domain([d.y, d.y + d.dy]);

    // Enable anti-aliasing during the transition.
    svg.style("shape-rendering", null);

    // Draw child nodes on top of parent nodes.
    svg.selectAll(".depth").sort(function(a, b) { return a.depth - b.depth; });

    // Fade-in entering text.
    g2.selectAll("text").style("fill-opacity", 0);

    // Transition to the new view.
    t1.selectAll("text").call(text).style("fill-opacity", 0);
    t2.selectAll("text").call(text).style("fill-opacity", 1);
    t1.selectAll("rect").call(rect);
    t2.selectAll("rect").call(rect);


    // Remove the old node when the transition is finished.
    t1.remove().each("end", function() {
      svg.style("shape-rendering", "crispEdges");
      transitioning = false;
    });
  }

  return g;
}

function text(text) {
  text.attr("x", function(d) { return x(d.x) + 6; })
      .style("font-size", function(d) {
                            var size = "18px";
                              d.namedisplay = d.name;
                            return size;
                          })
      .attr("y", function(d) { return y(d.y) + 6; });
}

function rect(rect) {
  rect.attr("x", function(d) { return x(d.x); })
      .attr("y", function(d) { return y(d.y); })
      .attr("width", function(d) { tempwidth = x(d.x + d.dx) - x(d.x); return tempwidth > 0 ? tempwidth : 0; })
      .attr("height", function(d) { return y(d.y + d.dy) - y(d.y); })
  .style("fill", function(d) {
          return color(d.name)
        }
      );
  rect.attr("onmouseover", "javascript:showInfo(evt)");
  rect.attr("onmouseout", "javascript:hideInfo(evt)");
}

function name(d) {
  return d.parent
      ?  name(d.parent) + d.name + "/"
      : "/";
}

function position() {
  this.style("left", function(d) { return d.x + "px"; })
      .style("top", function(d) { return d.y + "px"; })
      .style("width", function(d) { return Math.max(0, d.dx - 1) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dy - 1) + "px"; });
}

function showInfo(evt) {
  var data  = evt.target.__data__;

  tooltip.show(data.name + "<br>" + humanReadable(data.value));
}

function hideInfo(evt) {
  tooltip.hide();
}

</script>
{% endblock %}