{% extends "layout.html" %}

{% block title %}Utility Knife{% endblock %}

{% block content %}

<div class="jumbotron">
    <div align="center" class="row">
        <h1>Visualize your Dropbox space.</h1>
        <br>
        <div class="col-md-8">
            <img width="600" height="300" src="/static/images/demo.gif" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="col-md-4">
            <br>
            <p>Quickly find where the largest files are located in your Dropbox folder.</p>
            <br>
            <p align="center"><a href="/start" class="btn btn-primary btn-lg">Login to Dropbox</a></p>
        </div>
    </div>
</div>

{% endblock %}